@font-face {
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	src: url("charter_regular.woff2") format("woff2");
}

@font-face {
	font-family: Charter;
	font-style: italic;
	font-weight: normal;
	font-stretch: normal;
	src: url("charter_italic.woff2") format("woff2");
}

@font-face {
	font-family: Charter;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	src: url("charter_bold.woff2") format("woff2");
}

@font-face {
	font-family: Charter;
	font-style: italic;
	font-weight: bold;
	font-stretch: normal;
	src: url("charter_bold_italic.woff2") format("woff2");
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--hmargin: 32px;
	--vmargin: 32px;
}

html {
	font: normal 20px/var(--hmargin) Charter, serif;
	hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
}

body {
	--main-maxw: 30rem;
	--body-maxw: calc(var(--main-maxw) + 2*var(--vmargin));
	margin: auto;
	max-width: var(--body-max-w);
}

body > * {
	margin-left: var(--vmargin);
	margin-right: var(--vmargin);
}

body > * > * {
	max-width: var(--main-maxw);
}

p {
	margin-bottom: var(--hmargin);
	margin-top: var(--hmargin);
}

aside {
	font-size: 16px;
	line-height: 24px;
}

/* TODO(fmrsn): Revise border color. */
aside {
	--aside-border: 1px solid gainsboro;
	--aside-padding: 3px;
	--aside-margin: -4px; /* -(padding + border) */
	border-bottom: var(--aside-border);
	border-top: var(--aside-border);
	margin-bottom: var(--aside-margin);
	margin-top: var(--aside-margin);
	padding-top: var(--aside-padding);
	padding-bottom: var(--aside-padding);
}

aside :first-child {
	margin-top: 0;
}

aside :last-child {
	margin-bottom: 0;
}

@media (min-width: 1024px) {
	body {
		--margin-maxw: calc(var(--main-maxw) / 2);
		max-width: calc(var(--body-maxw) + var(--vmargin) + var(--margin-maxw));
	}

	article {
		position: relative;
	}

	aside {
		position: absolute;
		right: 0;
		max-width: var(--margin-maxw);
	}
}
