.slide {
	border: 1px solid currentColor;
	break-before: always;
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: calc(2 * var(--spacing));
	margin-top: calc(2 * var(--spacing));
	max-width: 35rem; /* TODO(fmrsn): Parameterize based on --spacing. */
	padding: var(--spacing);
}

.slide ~ .slide {
	flex-direction: column;
	row-gap: 1.5rem;
}

.slide > * {
	margin-top: 0;
	margin-bottom: 0;
}

.slide > blockquote {
	margin-top: calc(-1 * var(--spacing));
	margin-bottom: calc(-1 * var(--spacing));
}

/* TODO(fmrsn): Revise if we do something special on the main stylesheet. */
hr + .slide {
	margin-top: var(--spacing);
}

.pre {
	font-size: 40px;
}

.pre body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
}

.pre article > * {
	display: none;
}

.pre .slide {
	border: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.pre .slide.current {
	display: flex;
}
